<div class="page__title">Услуги частного детектива для {{ (type === "legal_entities" ? "юридических" : "физических")}} лиц</div>

<div class="services__wrapper">
  <div *ngFor="let category of servicesData">
    <div class="type__title">{{ category.name }}</div>
    <div class="service-type__wrapper">
      <div *ngFor="let service of category.services" class="service__item">
        <div class="service__title">{{ service.name }}</div>
        <div class="service__price">{{ service.price }}</div>

        <div class="service-description__wrapper">
          <div *ngFor="let detail of service.details" class="description__description">
            {{ detail }}
          </div>
        </div>
        <div class="service__button">Заказать</div>
      </div>
    </div>
  </div>
</div>

<app-block-titile
  titleText="Почему мы?"
/>
<div class="why-we__wrapper">
  <app-why-choose-us />
</div>
