<div class="page__title">Услуги частного детектива для физических лиц</div>


<div class="services__wrapper">

  <div class="type__title">
    Поиск и сбор информации
  </div>
  <div class="service-type__wrapper">

    <div class="service__item">
      <div class="service__title">Ифопроверка()аывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор свdsadasdasdasdasdasdasdasdasdasdедений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>
    <div class="service__item">
      <div class="service__title">Ифопроверка()аывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>
    <div class="service__item">
      <div class="service__title">Ифопроверка()аывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>
    <div class="service__item">
      <div class="service__title">Ифопроверка()аывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>
    <div class="service__item">
      <div class="service__title">Ифопроверка()аывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>
    <div class="service__item">
      <div class="service__title">Ифопроверка()аfdsfsdfsdfsdfывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>
    <div class="service__item">
      <div class="service__title">Ифопроверка()аывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>
    <div class="service__item">
      <div class="service__title">Ифопроверка()аывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>

  </div>
  <div class="type__title">
    Поиск и сбор информации
  </div>
  <div class="service-type__wrapper">


    <div class="service__item">
      <div class="service__title">Ифопроверка()аывлапр</div>
      <div class="service__price">Цена по запросу</div>

      <div class="service-description__wrapper">
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
        <div class="description__description">Сбор сведений</div>
      </div>
      <div class="service__button">Заказать</div>


    </div>

  </div>

</div>
