:host{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .page__title{
    font-size: 30px;
    width: 100%;
    text-align: center;
  }


  .services__wrapper{

    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    justify-items: center;

    .type__title{
      font-size: 30px;
      text-align: center;
    }


    .service-type__wrapper{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      gap: 20px;
      //justify-content: center;
      justify-content: flex-start;


      .service__item{
        position: relative;
        width: 300px;
        min-height: 300px;
        height: fit-content;
        background-color: #000000;
        border: 2px solid #ffffff;
        padding: 15px;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        justify-content: center;
        justify-items: center;
        flex: 1 1 300px;
        max-width: 300px;

        .service__title{
          width: 270px;
          overflow-wrap: break-word;
          font-size: 24px;
          color: #8F4119;
          font-family: "Forum-variable", Roboto, sans-serif;
          font-weight: 500;
        }

        .service__price{
          width: 100%;
          height: 60px;
          align-items: center;
          display: flex;
          transform: rotate(-10deg);
          padding-bottom: 50px;
          padding-top: 10px;
          padding-left: 20px;
          text-align: left;
        }
        .service-description__wrapper {
          width: calc(100% - 40px);

          .description__description {
            width: 240px;
            display: block; /* Каждый элемент на новой строке */
            position: relative; /* Для правильного позиционирования псевдоэлемента */
            padding-left: 20px; /* Отступ для псевдоэлемента */
            margin-bottom: 8px; /* Отступ между элементами */
            overflow-wrap: break-word;
          }

          .description__description::before {
            content: '•'; /* Символ точки */
            position: absolute;
            left: 0; /* Позиционирование точки слева */
            color: white; /* Цвет точки */
            font-size: 1.2em; /* Размер точки */
            line-height: 1; /* Высота линии */
          }
        }

        .service__button {
          display: inline-block; /* Для корректного отображения как кнопки */
          padding: 10px 20px; /* Внутренние отступы */
          border: 2px solid #ff721a; /* Оранжевая обводка */
          border-bottom: 3px solid #ff721a;
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;
          background-color: black;
          text-align: center;
          cursor: pointer;
          text-decoration: none;
          transition: background-color 0.3s, color 0.3s;
          width: 80%;
          bottom: 0;
          margin-top: auto;
        }

        .service__button:hover {
          background-color: #ff721a; /* Заливка при наведении */
          color: white; /* Цвет текста при наведении */
        }


      }
    }


  }

}
