
<div class="about-work__wrapper">
  <div class="about-work__list">

    <div class="about-work__item">
      <div class="about-item__number">01</div>
      <div class="about-item__title">КОНСУЛЬТАЦИЯ С ДЕТЕКТИВОМ</div>
      <div class="about-item__description">Разбираем вашу ситуацию, определяем способы ее решения, сроки и стоимость.</div>
      <div class="about-item__icon"></div>
    </div>

    <div class="about-work__item">
      <div class="about-item__number">01</div>
      <div class="about-item__title">КОНСУЛЬТАЦИЯ С ДЕТЕКТИВОМ</div>
      <div class="about-item__description">Разбираем вашу ситуацию, определяем способы ее решения, сроки и стоимость.</div>
      <div class="about-item__icon"></div>
    </div>

    <div class="about-work__item">
      <div class="about-item__number">01</div>
      <div class="about-item__title">КОНСУЛЬТАЦИЯ С ДЕТЕКТИВОМ</div>
      <div class="about-item__description">Разбираем вашу ситуацию, определяем способы ее решения, сроки и стоимость.</div>
      <div class="about-item__icon"></div>
    </div>

    <div class="about-work__item">
      <div class="about-item__number">01</div>
      <div class="about-item__title">КОНСУЛЬТАЦИЯ С ДЕТЕКТИВОМ</div>
      <div class="about-item__description">Разбираем вашу ситуацию, определяем способы ее решения, сроки и стоимость.</div>
      <div class="about-item__icon"></div>
    </div>

  </div>

</div>
