:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;


  .about-work__wrapper{
    width: 100%;
    margin-top: 50px;

    .about-work__list{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 300px));
      justify-content: center;
      justify-items: center;
      grid-column-gap: 20px;
      grid-row-gap: 30px;

      .about-work__item{
        width: 100%;
        height: 390px;
        max-width: 300px;
        padding: 20px;
        background-color: #212020;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;


        .about-item__number{
          display: flex;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: linear-gradient(251.27deg, #D1C2A9 12.87%, #F4AC11 84.36%);
          text-align: center;
          justify-content: center;
          align-items: center;
          font-family: Montserrat, Roboto, sans-serif;
          font-size: 22.18px;
          font-weight: 700;
          line-height: 27.03px;
          border: 10px solid #171b1e;
          box-sizing: content-box;
        }

        .about-item__title{
          font-size: 18px;
          font-weight: 400;
          line-height: 26.01px;
          text-align: center;
          margin-top: 20px;
          height: 40px;
          font-family: "Roboto", sans-serif;
        }

        .about-item__description{
          font-family: "Forum-variable", sans-serif;
          font-size: 18px;
          font-weight: 100;
          line-height: 24.57px;
          text-align: left;
          margin-top: 30px;

        }
        .about-item__icon{
          position: absolute;
          bottom: 10px;
          right: 20px;
          i{
            color: #FFFFFF;
            font-size: 50px;
          }
        }

      }
    }


  }
}


@media (max-width: 1100px) {
  .about-work__list{
    grid-template-columns: 1fr 1fr !important;
    grid-column-gap: 0 !important;
  }
}
@media (max-width: 800px) {
  .about-work__list{
    grid-template-columns: 1fr !important;
  }

  .about-work__item{
    width: 70% !important;
    max-width: 100% !important;
  }
}
