
<div class="about-work__wrapper">
  <div class="about-work__list">

    <div class="about-work__item">
      <div class="about-item__number">01</div>
      <div class="about-item__title">КОНСУЛЬТАЦИЯ С ДЕТЕКТИВОМ</div>
      <div class="about-item__description">Разбираем вашу ситуацию, определяем способы ее решения, сроки и стоимость.</div>
      <div class="about-item__icon"><i class="bi bi-people"></i></div>
    </div>

    <div class="about-work__item">
      <div class="about-item__number">02</div>
      <div class="about-item__title">
        ПОДПИСАНИЕ ДОГОВОРА И ОПЛАТА</div>
      <div class="about-item__description">Подписываем договор и соглашение о неразглашении. Определяем необходимые документы и начинаем работать.</div>
      <div class="about-item__icon"><i class="bi bi-pencil-square"></i></div>
    </div>

    <div class="about-work__item">
      <div class="about-item__number">03</div>
      <div class="about-item__title">ВЫПОЛНЕНИЕ ЗАКАЗА</div>
      <div class="about-item__description">Последовательно решаем вашу проблему. Постоянно держим
        вас в курсе и сообщаем промежуточные результаты работы.</div>
      <div class="about-item__icon"><i class="bi bi-person-workspace"></i></div>
    </div>

    <div class="about-work__item">
      <div class="about-item__number">04</div>
      <div class="about-item__title">
        ИТОГОВЫЙ ОТЧЕТ</div>
      <div class="about-item__description">Предоставляем максимально подробный и достоверный отчет по результатам выполненной работы.</div>
      <div class="about-item__icon"><i class="bi bi-table"></i></div>
    </div>

  </div>

</div>
