
<div class="services__wrapper">
  <div class="services-wrapper__services-list">

    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon"></div>
      </div>
      <div class="service-item__title">Проверка юридических лиц</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon"></div>
      </div>
      <div class="service-item__title">Поиск людей</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon"></div>
      </div>
      <div class="service-item__title">Поиск должников и мошенников</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon"></div>
      </div>
      <div class="service-item__title">Семейные проблемы</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon"></div>
      </div>
      <div class="service-item__title">Проверка персонала</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon"></div>
      </div>
      <div class="service-item__title">Проверка контрагентов</div>
    </div>

  </div>

</div>
