


.services__wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

  .services-wrapper__services-list {
    background-color: #212020;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    .service__item {
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      align-items: center;
      width: 180px;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      border-right: 2px dashed #595959;

      &:last-child {
        border-right: none;
      }

      .service-item__icon-wrapper {
        position: relative;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #000000;
        margin-top: -40px;
        box-shadow: 0 1px 4px 0 #EFE8E899 inset;


        .service-item__icon {
          $img-width: 60px;
          position: absolute;
          bottom: 30px;
          left: calc(50% - $img-width/2);
          width: $img-width;
          height: $img-width;
        }
      }

      .service-item__title {
        text-align: center;
        font-size: 18px;
        font-family: "Jost-variable", Roboto, sans-serif;
        margin-top: 20px;


      }
    }
  }
}

@media (max-width: 1100px) {
  .services__wrapper{
    height: fit-content !important;
  }

  .services-wrapper__services-list {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    background-color: transparent !important;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  .service__item{
    overflow: hidden;
    background-color: #212020 !important;
  }
}


@media (max-width: 700px) {

  .services__wrapper{
    height: fit-content !important;
  }

  .services-wrapper__services-list {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    background-color: transparent !important;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }

  .service__item{
    overflow: hidden;
    background-color: #212020 !important;
  }
}


@media (max-width: 500px) {
  .services-wrapper__services-list{
    grid-column-gap: 0 !important;
    justify-items: center;
    width: 100%;
  }
.services__wrapper{
  justify-content: unset !important;
}

  .service__item{
    width: 150px !important;
  }


}
