
<div class="services__wrapper">
  <div class="services-wrapper__services-list">

    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon">
          <img src="/assets/imgs/searching-info.png" alt="" srcset="">
        </div>
      </div>
      <div class="service-item__title">Проверка юридических лиц</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon">
          <img src="/assets/imgs/search-people.png" alt="" srcset="">
        </div>
      </div>
      <div class="service-item__title">Поиск людей</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon">
          <img src="/assets/imgs/hacker.png" alt="" srcset="">
        </div>
      </div>
      <div class="service-item__title">Поиск должников и мошенников</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon">
          <img src="/assets/imgs/family.png" alt="" srcset="">
        </div>
      </div>
      <div class="service-item__title">Семейные проблемы</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon">
          <img src="/assets/imgs/curriculum-vitae.png" alt="" srcset="">
        </div>
      </div>
      <div class="service-item__title">Проверка персонала</div>
    </div>
    <div class="service__item">
      <div class="service-item__icon-wrapper">
        <div class="service-item__icon">
          <img src="/assets/imgs/hand-shake.png" alt="" srcset="">
        </div>
      </div>
      <div class="service-item__title">Проверка контрагентов</div>
    </div>

  </div>

</div>
