<div class="services__list">
  <div class="service__item">
    <div class="item__icon" [style.background-image]="'url(/assets/svg/12.png)'"></div>
    <div class="service__title" >Прослушкой телефонов</div>
  </div>

  <div class="service__item">
    <div class="item__icon" [style.background-image]="'url(/assets/svg/22.png)'"></div>
    <div class="service__title">Взломом и проникновением в объекты</div>
  </div>

  <div class="service__item">
    <div class="item__icon" [style.background-image]="'url(/assets/svg/32.png)'"></div>
    <div class="service__title">Установкой камер скрытого видеонаблюдения</div>
  </div>

  <div class="service__item">
    <div class="item__icon" [style.background-image]="'url(/assets/svg/42.png)'"></div>

    <div class="service__title">Силовыми методами достижения цели</div>
  </div>
  <div class="service__item">
    <div class="item__icon" [style.background-image]="'url(/assets/svg/51.png)'"></div>

    <div class="service__title">Помощью аферистам и мошенникам</div>
  </div>
  <div class="service__item">
    <div class="item__icon" [style.background-image]="'url(/assets/svg/61.png)'"></div>
    <div class="service__title">Чтением личной переписки</div>
  </div>
</div>
