<div class="services__list">
  <div class="service__item">
    <div class="item__icon"></div>
    <div class="service__title">Прослушкой телефонов</div>
  </div>

  <div class="service__item">
    <div class="item__icon"></div>
    <div class="service__title">Прослушкой телефонов</div>
  </div>

  <div class="service__item">
    <div class="item__icon"></div>
    <div class="service__title">Прослушкой телефонов</div>
  </div>

  <div class="service__item">
    <div class="item__icon"></div>
    <div class="service__title">Прослушкой телефонов</div>
  </div>
  <div class="service__item">
    <div class="item__icon"></div>
    <div class="service__title">Прослушкой телефонов</div>
  </div>
  <div class="service__item">
    <div class="item__icon"></div>
    <div class="service__title">Установкой камер скрытого видеонаблюдения</div>
  </div>
</div>
