:host {
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  height: 330px;
  align-items: center;
  width: 100%;
  text-align: right;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1300px) {
    grid-template-columns: 1.9fr 1fr;
  }


  .questions__left-side {
    padding-left: 1fr;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 30px;

    .questions__title {
      width: 550px;
      font-family: "Forum-variable", serif;
      font-size: 40px;
      font-weight: 400;
      line-height: 44.16px;
      text-align: left;
    }

    .questions__description {
      max-width: 550px;
      font-family: "Jost-variable", sans-serif, serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 34.68px;
      text-align: left;

    }
  }


  .questions__back-img {

    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-image: url("/assets/imgs/questions-extra-el.png");
    height: 325.16px;
    filter: drop-shadow(0 0 20px rgba(241, 241, 241, 0.53));
  }

  .questions_button {
    padding-right: 50px;
  }
}


@media (max-width: 1100px) {
  :host {
    grid-template-columns:  1fr !important;
  }

  .questions__left-side{
    align-items: center !important;
  }

  .questions__back-img{
    display: none;
  }

  .questions__title {
    text-align: center;
    font-size: 28px !important;
    width: 80% !important;
  }

  .questions__description{
    font-size: 18px !important;
    max-width: 100vv !important;
    width: 80%;
  }

}
