@font-face {
  font-family: 'Forum-variable';
  src: url('/assets/fonts/Forum/Forum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Jost-variable';
  src: url('/assets/fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
