$primary-color: #FFFFFF;
$title-color: #BB8C5F;
$points-color: #AB947C;
$primary-dark-color: #797979;
$header-links-color: #BEB7B7;

$primary-background-color: #000000;
$more-info-button-background-color: #E49031;
