<div class="header-wrapper">

  <div class="header-wrapper__wrapper">
    <div class="header-wrapper__back-image"></div>

    <h1 class="header-wrapper__title">Частное детективное агенство</h1>
    <section class="header-wrapper__services">
      <ul class="services__list">
        <li class="service-item">Наблюдение за человеком (слежка)</li>
        <li class="service-item">Сбор информации</li>
        <li class="service-item">Розыск людей</li>
        <li class="service-item">Розыск похищенного транспорта</li>
        <li class="service-item">Проверка на верность (измены)</li>
      </ul>
    </section>

    <div class="header-wrapper__button">
      <a href="#form">
        <app-button-main
          toTargetLink="form-section"
          [buttonText]="'Оставить заявку'"
        />
      </a>

    </div>
  </div>

  <div class="header-wrapper__about-us">
    <div class="about-us__list">
      <div class="about-us__item">
        <div class="item__present">100%</div>
        <div class="item__text">Квалифицированных <br> специалистов</div>
      </div>
      <div class="about-us__item">
        <div class="item__present">100%</div>
        <div class="item__text">Квалифицированных <br> специалистов</div>
      </div>
    </div>
  </div>
</div>
