:host{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  padding-left: 90px;
  grid-column-gap: 90px;

  .license__description{
    display: flex;
    height: 100%;
    font-family: "Jost-variable", Roboto, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40.38px;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .license__preview{
    width: 216px;
    height: 279px;
    background-color: #BEB7B7;
  }
}


@media (max-width: 800px) {
  :host{
    grid-template-columns: 1fr !important;
    padding-right: 50px !important;
    padding-left: 60px !important;
  }

  .license__description{
    font-size: 24px !important;
  }

  .license__preview{
    display: none !important;
  }
}

@media (max-width: 500px) {
  :host{
    grid-template-columns: 1fr !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .license__description{
    font-size: 19px !important;
    line-height: 30px !important;
  }

  .license__preview{
    display: none !important;
  }
}
