<div class="map__left-contacts">
  <div class="contacts__title">Наши контакты</div>

  <div class="contacts__wrapper">
    <div class="line"></div>

    <div class="contacts-info__wrapper">
      <div class="info__icon">
        <i class="bi bi-geo-alt-fill"></i>
      </div>
      <div class="info__text">город Москва</div>
    </div>

    <div class="contacts-info__wrapper">
      <div class="info__icon">
        <div class="social__icon"><i class="bi bi-telephone"></i></div>
      </div>
      <div class="info__text">+7901110000</div>
    </div>

    <div class="contacts-info__wrapper">
      <div class="info__icon">
        <i class="bi bi-envelope-fill"></i>
      </div>
      <div class="info__text">{{ 'mail@gmail.com' }}</div>
    </div>
    <div class="line"></div>
    <div class="contacts__social">
      <div class="social__icon"><i class="bi bi-telegram"></i></div>
      <div class="social__icon"><i class="bi bi-whatsapp"></i></div>
      <div class="social__icon"><i class="bi bi-telephone"></i></div>

    </div>
  </div>




</div>

<div class="map__right-side">

</div>
