

<div class="services__list">

  <div class="service__item">
    <div class="service-item__preview"></div>
    <div class="service-item__info">
      <div class="service-info__title">ИНФОПРОВЕРКА (СБОР ИНФОРМАЦИИ)</div>
      <div class="service-info__link">
      </div>
    </div>
  </div>

  <div class="service__item">
    <div class="service-item__preview"></div>
    <div class="service-item__info">
      <div class="service-info__title">ИНФОПРОВЕРКА (СБОР ИНФОРМАЦИИ)</div>
      <div class="service-info__link">
      </div>
    </div>

  </div>

  <div class="service__item">
    <div class="service-item__preview"></div>
    <div class="service-item__info">
      <div class="service-info__title">ИНФОПРОВЕРКА (СБОР ИНФОРМАЦИИ)</div>
      <div class="service-info__link">
      </div>
    </div>
  </div>

  <div class="service__item">
    <div class="service-item__preview"></div>
    <div class="service-item__info">
      <div class="service-info__title">ИНФОПРОВЕРКА (СБОР ИНФОРМАЦИИ)</div>
      <div class="service-info__link">
      </div>
    </div>
  </div>


</div>
<div class="services-buttons">

  <a [routerLink]="linkUrl" class="all-services-link">{{ linkText }}</a>
  <div class="services-button">
    <app-button-main [buttonText]="'Проконсультироваться'"/>
  </div>
</div>


